.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 50px 1fr;
    gap: 20px 20px;
  }
div {
    background-color: rgb(28, 66, 115);
    padding: 20px;
}
.one::before{
  content: "Element 1";
  text-align: center;
  font-weight: bold;
  color: white;
}
.two::before{
  content: "Element 2";
  text-align: center;
  font-weight: bold;
  color: white;
}
.three::before{
  content: "Element 3";
  text-align: center;
  font-weight: bold;
  color: white;
}
.four::before{
  content: "Element 4";
  text-align: center;
  font-weight: bold;
  color: white;
}
.five::before{
  content: "Element 5";
  text-align: center;
  font-weight: bold;
  color: white;
}
.six::before{
  content: "Element 6";
  text-align: center;
  font-weight: bold;
  color: white;
}