.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
    gap:20px 20px ;
  }
  div {
    background-color: rgb(57, 55, 55);
    text-align:center;
    
    color: white;
  }